{{!-- contenido de la lantilla main.handelebars con formulario --}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Texto con Formulario</title>
</head>

<body>
    <form class="form-control">
        <label>Nombre:</label>
        <input type="text"> <br>
        <label>Contraseña:</label>
        <input type="text"> <br> <br>
        <button>Iniciar sesión</button>
    </form>
</body>

</html>