{{!-- contenido de la plantilla main.handlebars con un encabezado --}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Document</title>
</head>

<body>
    <h1>Hola mundo! Usando ahora motores de plantillas Handlebars con extension</h1>
</body>

</html>